<div ng-controller="chartController">
    <div class="modal" id="chart-dialog" ng-class="{'in': chartModalVisible}" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>
                        <translate>Chart</translate>
                    </h4>
                    <button type="button" class="close" ng-click="chartModalVisible = false; close()" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only" translate="">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-right">
                        <a id="save-as-image" download="chartImage.png" href="#" ng-click="saveAsImage()"
                            class="btn btn-primary btn-sm" title="Save as Image">SAVE AS IMAGE</a>
                            <a id="export-as-csv" href="#" ng-click="exportAsCSV()"
                            class="btn btn-primary btn-sm" title="Export as CSV">EXPORT AS CSV</a>
                        <div class="chart">
                            <canvas id="sensor-data-chart"></canvas>
                        </div>

                        <div class="col mb-2 text-center">
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm" title="Show data in the last 30 seconds"
                                    ng-click="showDataInInterval('10 seconds')">10 SECONDS</button>
                                <button class="btn btn-primary btn-sm" title="Show data in the last 30 minutes"
                                    ng-click="showDataInInterval('30 minutes')">30 MINUTES</button>
                                <button class="btn btn-primary btn-sm" title="Show data in the last hour"
                                ng-click="showDataInInterval('1 hour')">1 HOUR</button>
                                <button class="btn btn-primary btn-sm" title="Show data in the last day"
                                ng-click="showDataInInterval('1 day')">1 DAY</button>
                                <button class="btn btn-primary btn-sm" title="Show data in the last month"
                                ng-click="showDataInInterval('1 month')">1 MONTH</button>
                                    <button class="btn btn-primary btn-sm" title="Show data in the last quarter"
                                    ng-click="showDataInInterval('3 months')">3 MONTHS</button>
                                <button class="btn btn-primary btn-sm" title="Show data in the last year"
                                ng-click="showDataInInterval('1 year')">1 YEAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>