<div class="container-fluid p-0">
    <div id="alert" style="font-weight: bold; text-align: center;">
    </div>
    <div class="row m-1">
        <span style="text-align: left; padding: 5px;"><strong>Hello
                {{authService.getUsername()}}!</strong></span>
        <div class="col text-right pr-0">
            <button type="button" class="mt-1 mb-1 pt-1 pb-1 btn btn-danger btn-sm" ng-click="logout()"
                translate>Exit</button>
        </div>
    </div>
    <hr style="margin:1px; height:1px;border:none;color:rgb(0, 0, 0);background-color: rgb(0, 0, 0);">
    <div class="m-1" ng-show="groupsTabVisible">
        <sens.groups-row ng-repeat="group in groupService.groups" group="group"></sens.groups-row>
        <div class="row">
            <div class="col m-1 text-left">
                <div class="btn-group">
                    <button type="button" class=" btn btn-outline-secondary btn-sm" ng-click="selectDeselectAllGroups()"
                        translate>SELECT/DESELECT GROUPS</button>
                    <button class="btn btn-outline-danger btn-sm" ng-click="deleteSelectedGroups()"><i
                            class="icon-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-1 p-1 text-center">
            <div class="btn-group">
                <button class="btn btn-outline-success btn-sm" ng-click="addGroupTabVisible = !addGroupTabVisible">ADD
                    SENSOR GROUP</button>
                <button class="btn btn-outline-primary btn-sm" ng-click="showGroups()">SHOW GROUPS</button>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col m-1 p-1 text-center">
            <div class="btn-group">
                <button class="btn btn-outline-primary btn-sm" ng-click="getAllUserUnits()">SHOW UNITS LIST</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-1 p-1 text-center">
            <div class="btn-group">
                <button class="btn btn-outline-primary btn-sm" ng-click="showAllSensors()">SHOW SENSORS LIST</button>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="input-group m-1 pl-2 pr-2" ng-show="addGroupTabVisible">
            <div class="input-group m-1">
                <input class="form-control" placeholder="Group name" ng-model="groupName"></input>
            </div>
        </div>
    </div>
    <div class="row" ng-show="groupName">
        <div class="col-6 mb-2 text-left">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm" ng-click="saveGroup(groupName)"><i
                        class="icon-save-floppy"></i></button>
            </div>
        </div>
    </div>
</div>