<div class="card-body p-3">
    <li class="row">
        <div class="col-8 mt-1">
            <div class="input-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" ng-checked="$ctrl.unit.checked" ng-module="$ctrl.sensor.checked" ng-click="$ctrl.sensor.checked =! $ctrl.sensor.checked"/>
                    <label class="form-check-label " ng-click="addData($ctrl.sensor)"
                        style="color: rgb(238, 82, 43); cursor: pointer;">{{$ctrl.sensor.sensor_name}}</label>
                </div>
            </div>
        </div>
        <div class="col-3 pr-0 text-right">
            <div class="btn-group">
                <button class="btn btn-outline-primary btn-sm" title="Show measurement data chart"
                    ng-click="dataRequest($ctrl.sensor.sensor_id, $ctrl.unit.unit_id)"><i
                        class="icon-analytics-piechart"></i></button>
            </div>
        </div>
    </li>
    <div ng-show="addSensorTabVisible">
        <form name="newMeasurementForm" ng-submit="saveData($ctrl.sensor.sensor_id, measuredValue, measurementTime, $ctrl.unit.unit_id)" role="form">
            <div class="row">
                <div class="input-group m-1">
                    <input class="form-control" placeholder="sensor type" ng-model="sensorType" readonly></input>
                </div>
                <div class="input-group m-1">
                    <input class="form-control" placeholder="Phenomena" ng-model="phenomena[0].phenomenon_name"
                        readonly></input>
                </div>
                <div class="input-group m-1">
                    <input class="form-control" placeholder="measured value" ng-model="measuredValue" required></input>
                    <div class="input-group-append">
                        <span class="input-group-text">{{phenomena[0].unit}}</span>
                    </div>
                </div>
                <div class="input-group m-1 p-1">
                    <input class="form-control" placeholder="measurement time" ng-model="measurementTime"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-2 text-left">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary btn-sm" ng-disabled="newMeasurementForm.$invalid"><i
                                class="icon-save-floppy"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <hr style="margin:1px; height:1px;border:none;color:rgb(0, 0, 0);background-color: rgb(0, 0, 0);">
    </div>
</div>