<div class="card-body pb-0 p-1">
    <li class="row">
        <div class="col-7 mt-1">
            <div class="input-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" ng-checked="$ctrl.group.checked"
                        ng-module="$ctrl.unit.checked" ng-click="checkUnit($ctrl.unit)" />
                    <label class="form-check-label" ng-click="getUnitSensors($ctrl.unit.unit_id)"
                        style="color: rgb(136, 109, 85); cursor: pointer;">Unit: {{$ctrl.unit.name}}</label>
                </div>
            </div>
        </div>
        <div class="col-4 pr-0 text-right">
            <div class="btn-group">
                <button class="btn btn-light btn-sm" title="Add new sensors" ng-click="addNewSensor($ctrl.unit.unit_id)"
                    style="color: rgb(0, 255, 0);"><i class="icon-calcplus"></i></button>
            </div>
        </div>
    </li>
    <div ng-show="addSensorTabVisible">
        <div class="m-1 p-1" style="text-align: center; background-color: rgba(115, 219, 160, 0.4); width: 100%;">Add
            new sensor to sensor unit</div>
        <div>
            <form name="newSensorForm" ng-submit="saveSensor(sensorName, sensorType, phenomenaId, $ctrl.unit.unit_id)"
                role="form">
                <div class="row pl-2 pr-2">
                    <div class="input-group m-1">
                        <input class="form-control" placeholder="Sensor name" ng-model="sensorName" required></input>
                    </div>
                    <div class="input-group m-1">
                        <input class="form-control" placeholder="Sensor type" ng-model="sensorType" required></input>
                    </div>
                    <div class="input-group m-1">
                        <button class="btn btn-outline-success btn-sm" title="Add new phenomena" type="button"
                            ng-click="addNewPhenomenaTabExpanded = !addNewPhenomenaTabExpanded;"><i
                                class="icon-calcplus"></i></button>
                        <select class="form-control"
                            ng-options="option.id as option.phenomenon_name for option in sensorService.phenomenas track by option.id"
                            ng-model="phenomenaId" required>
                            <option value="" disabled selected>Select phenomena</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-2 text-left">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="newSensorForm.$invalid"><i
                                    class="icon-save-floppy"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <div ng-show="addNewPhenomenaTabExpanded">
                <form name="newPhenomenaForm" ng-submit="addNewPhenomena(newPhenomenaName, newPhenomenaUnit)"
                    role="form">
                    <div class="row pl-2 pr-2">
                        <div class="input-group m-1">
                            <input class="form-control" placeholder="Phenomena name" ng-model="newPhenomenaName"
                                required></input>
                        </div>
                        <div class="input-group m-1">
                            <input class="form-control" placeholder="Phenomena unit" ng-model="newPhenomenaUnit"
                                required></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-2 text-left">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary btn-sm"
                                    ng-disabled="newPhenomenaForm.$invalid"><i class="icon-save-floppy"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="existingSensorListVisible">
                <div class="m-1 p-1"
                    style="text-align: center; background-color: rgba(115, 219, 160, 0.4); width: 100%;">
                    Add
                    existing sensor from available sensor list</div>
                <div style="height: 250px; overflow: scroll;">
                    <li class="row" ng-repeat="sensor in sensorService.sensors | orderBy: '+sensor_name'">
                        <div class="col-7 m-1">
                            <div class="input-group mt-2 mb-2">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" ng-model="sensor.checked" />
                                    <label class="form-check-label" style="cursor: pointer; color: rgb(136, 109, 85);" ng-click="sensor.checked =! sensor.checked">Sensor:
                                        {{sensor.sensor_name}}</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="row">
                    <div class="col-6 m-1 text-left">
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm" ng-click="saveAddedSensors($ctrl.unit.unit_id)"><i
                                    class="icon-save-floppy"></i></button>
                        </div>
                    </div>
                </div>
                <hr style="margin:1px; height:1px;border:none;color:rgb(0, 0, 0);background-color: rgb(0, 0, 0);">
            </div>
        </div>
    </div>
    <div ng-show="sensorsTabVisible">
        <sens.sensor-row ng-repeat="sensor in unitService.unitsSensors | filter: $ctrl.unit.unit_id | orderBy: '+sensor_name'" unit="$ctrl.unit"
            sensor="sensor">
        </sens.sensor-row>
    </div>
</div>